@import 'variables';

// hide bootstrap dropdown arrow globally
.dropdown-toggle::after {
  display: none !important;
}

.mat-table__wrapper--dashboard .mat-table {
  min-width: 600px !important;
  width: 100% !important;
}

.position-static {
  position: static;
}

.btn-primary {
  color: var(--app-color-primary-tint);
  background-color: var(--app-color-primary);
  border-color: var(--app-color-primary);
}

.btn-cancel {
  color: var(--app-color-primary);
  background-color: var(--app-color-primary-tint);
  border-color: var(--app-color-primary-tint);
}

a.btn-cancel {
  color: var(--app-color-primary);
  background-color: var(--ion-color-quaternary-shade);
  border-color: var(--ion-color-quaternary-shade);
  padding: 1em 1.5em !important;
  font-weight: 600;
}

.align-center {
  text-align: center !important;
  margin: 0 auto !important;
}

// Striped table
.mat-row:nth-child(even){
  background-color: var(--app-color-table-strip-even);
}

// Striped table
.mat-row:nth-child(odd){
  background-color: var(--app-color-table-strip-odd);
}

.mat-button.mat-warn, .mat-icon-button.mat-warn, .mat-stroked-button.mat-warn {
  color: var(--app-color-error);
}

hr.u {
  border: 15px solid var(--app-color-primary);
  border-top-width: 0;
  margin-top: 0;
  margin-bottom: 0;
}

hr.d {
  border: 15px solid var(--app-color-secondary);
  border-top-width: 0;
  margin-top: 0;
}

.text-title-farms {
  color: var(--app-color-secondary);
}
