<div class="container-fluid m-y-20 border-table">
  <div class="row">
    <div class="col-xs-12 col-sm-12 text-center title-col">
      <h1 class="title-text-table">{{tableOptions.title}}</h1>
    </div>
  </div>
  <div class="row data-table-filter">
    <div class="col-xs-6 col-sm-6" [hidden]="TABLE_DATA.length === 0">
      <mat-form-field appearance="legacy" class="col-sm-12">
        <input
          matInput
          (keyup)="applyFilter($event.target.value)"
          [placeholder]="labels.search.placeholder"
        />
        <mat-icon matSuffix>search</mat-icon>
        <mat-hint>{{ labels.search.hint }}</mat-hint>
      </mat-form-field>
    </div>
    <div class="text-right" [ngClass]="(TABLE_DATA.length === 0) ? 'col-xs-12 col-sm-12': 'col-xs-6 col-sm-6'"
         [hidden]="!tableOptions.buttons">
      <div *ngIf="tableOptions.buttons.length > 1">
        <button mat-icon-button [matMenuTriggerFor]="tableButtons">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #tableButtons="matMenu">
          <button
            *ngFor="let button of tableOptions.buttons"
            mat-menu-item
            (click)="button.handler()"
          >
            {{ button.name }}
          </button>
        </mat-menu>
      </div>
      <div *ngIf="tableOptions.buttons.length <= 1">
        <button class="btn btn-primary" *ngFor="let button of tableOptions.buttons" (click)="button.handler()">
          {{ button.name }}
        </button>
      </div>
    </div>
  </div>

  <div class="mat-table__wrapper">
    <mat-table
      class="lmat-elevation-z4"
      [dataSource]="dataSource"
      matSort
      [matSortDisabled]="tableOptions.sortable === false"
    >
      <!-- SELECT COLUMN -->
      <ng-container matColumnDef="select" *ngIf="tableOptions.selectField">
        <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
            [hidden]="tableOptions.hideSelectFieldAll"
          >
          </mat-checkbox>
          <button class="mat-sort-header-button" type="button" aria-label="Seleccione"
                  [hidden]="!tableOptions.hideSelectFieldAll"></button>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="mat-column-checkbox">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? toggleSelection(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <!-- END SELECT COLUMN -->

      <ng-container
        *ngFor="let column of tableOptions.columns"
        [matColumnDef]="column.field"
      >
        <mat-header-cell
          *matHeaderCellDef
          [mat-sort-header]="column.field"
          [disabled]="
                column.field === 'actions' ||
                (column.options && column.options.sort === false)"
          [ngClass]="{'data-table-align-right' : column.field === 'actions', 'data-table-align-left' : column.field !== 'actions'}"
        >
          <span class="text-left">{{ column.name }}</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="data-table-mat-cell data-table-align-left" [ngClass]="{'data-table-align-right' : column.field === 'actions', 'data-table-align-left' : column.field !== 'actions'}">
          <app-data-cell [row]="row" [column]="column" [mode]="'normal'"></app-data-cell>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="detail" stickyEnd>
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-icon (click)="handleResponsiveColumns(element)"
          >keyboard_arrow_right
          </mat-icon
          >
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="activeColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: activeColumns"></mat-row>
    </mat-table>
    <div class="mat-table__message" *ngIf="TABLE_DATA.length === 0">
      {{labels.msg.noRecordsFound}}
    </div>
  </div>
  <div class="mat-table__bottom">
    <mat-paginator
      [pageSize]="defaultPageSize"
      [pageSizeOptions]="defaultPageSizeOptions"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
